[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pep8 = "*"
flake8-mypy = "*"
rope = "*"

[packages]
pandas = "*"

[requires]
python_version = "3.7"
